:root {
    --evergreen: #0B1B10ff;
    --alice-blue: #E5EEF5ff;
    --charcoal-brown: #1C2415ff;
    --cool-steel: #8DA1AAff;
    --soft-fawn: #C8A97Bff;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2);
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, system-ui;
}

a {
    text-decoration: none;
    color: var(--charcoal-brown);
}

#main-page,
#heading,
#header-top-row,
#header-bottom-row,
#sidebar,
#sidebar-navigation,
#sidebar-branding,
#main-content,
#projects,
#project-cards,
.project-card,
#announcements,
#trending {
    display: grid;
}


#main-page {
    height: 100vh;
    /* display: grid; */
    grid-template-columns: minmax(220px, 260px) 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}


#header,
 .card-buttons {
    gap: 10px;
 }

#header,
.project-card,
#announcements-card,
#trending-card,
input#search-bar {
    background-color: var(--alice-blue);
}

#header,
#header-top-row a,
.trending-text p:nth-child(1),
.trending-text p:nth-child(2) {
    color: var(--evergreen)
 }

#search,
#user-nav,
#header-bottom-row,
#user-greeting,
#user-buttons,
#sidebar-top,
#sidebar a,
.card-content {
    align-items: center;
}

#header,
#sidebar,
#project-title,
#announcements-title,
#trending-title,
#sidebar-navigation,
#sidebar-branding {
    font-weight: bold;
}

#header {
    grid-template-rows: 1fr 1.5fr;
    grid-area: header;
}

#header-top-row {
    grid-template-columns: 1fr 1fr;
    padding: 20px 0 0 30px;
    font-size: 1.1em;
}

#search,
#user-nav, 
#user-greeting,
#user-buttons,
#sidebar-top,
#sidebar a,
.card-buttons,
#announcements-card,
#trending-card,
.trending-content {
    display: flex;
}

#search {
    gap: 20px
}

#user-nav,
#user-buttons,
.card-buttons {
    justify-content: end;
}

#user-nav {
    padding-right: 80px;
    gap: 24px;
}

input#search-bar,
#sidebar a {
    width: 100%;
}

input#search-bar {
    height: 2.2em;
    border: 2px var(--soft-fawn) solid; 
    border-radius: 20px;
    padding-left:15px;
}

input#search-bar:focus {
    outline: none;  
    border-color: var(--cool-steel);
}

#user-icon img,
#bottom-row-user-icon,
.trending-icon img {
    background-color: white;
    border: 0.5px white solid;
    border-radius: 150px;
}

#header-bottom-row {
    grid-template-columns: 1fr auto;
    padding: 0 0 20px 30px;
    justify-items: start;
}

#user-greeting,
#sidebar-top,
#sidebar a {
    gap: 16px;
}

#user-buttons,
.card-buttons,
#announcements-card,
#trending-card {
    flex: 1 1 auto;
}

#user-buttons {
    padding-right: 80px;
    gap: 30px
}

#bottom-row-greeting {
    font-size: 0.9rem;
}

#bottom-row-username {
    font-size: 1.6rem;
}

.header-button,
.card-content {
    display: inline-block;
}

 .header-button {
    text-align: center;
    vertical-align: center;
    font-size: 1em;
    height: 3em;
    line-height: 3em;
    width: 100px;
    border-radius: 40px;
    border-style: none;
    background-color: var(--charcoal-brown);
 }

.header-button,
#header-bottom-row a,
#sidebar,
#sidebar p,
#sidebar a:visited {
    color: var(--alice-blue);
}

#header a:hover,
.card-buttons a:hover {
    transform: scale(1.1);
}

#user-buttons a:hover {
    color: var(--evergreen);
    background-color: var(--soft-fawn)
} 

#sidebar,
#sidebar-navigation,
#sidebar-branding,
#project-cards  {
    gap: 30px;
}

#sidebar {
    grid-template-rows: 1fr 1fr 7fr 10fr;
    grid-area: sidebar;
    padding: 35px 0 0 20px;
    background-color: var(--charcoal-brown);
}

#sidebar-top,
#sidebar-navigation,
#sidebar-branding {
    height: min-content;
}

#sidebar-top {
    font-size: 1.6em;
}

#sidebar-intro p {
    font-weight: normal;
    text-wrap: stable;
    padding-right: 20px;
    font-size: 0.85em;
}

#sidebar-navigation {
    padding-top: 30px;
}



#sidebar a,
.project-card {
    position: relative;
}

#sidebar a::after,
#sidebar a::before,
.project-card::before,
.card-content::after,
.card-content::before {
    content: '';
    position: absolute;
}

#sidebar a::after,
#sidebar a::before,
.card-content::after,
.card-content::before {
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

#sidebar a::after,
#sidebar a::before {
    width: 92%;
    background: linear-gradient(to right, var(--soft-fawn), var(--alice-blue));
    bottom: -8px;
    left: 0;
}

#sidebar a::before,
.card-content::before {
    transform-origin: left;
}

#sidebar a::before {
    top: -8px;
}

#sidebar a:hover::after,
#sidebar a:hover::before,
.card-content:hover::after,
.card-content:hover::before {
    transform: scaleX(1);
}

#sidebar a:hover {
    transform: scale(1.02);
}

#main-content {
    /* display: grid; */
    grid-area: main-content;
    height: 100%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    background-color: var(--cool-steel);
}

#projects,
#announcements,
#trending {
    grid-template-rows: 30px 1fr;
}

#projects {
    grid-area: projects;
    padding: 20px 15px 80px 30px;
}

#project-title,
#announcements-title,
#trending-title,
#sidebar-navigation,
#sidebar-branding {
    font-size: 1.4em;
    color: white;
}

#project-cards,
#announcements-card,
#trending-card {
    margin-top: 1em;
}

#project-cards {
    grid-template-rows: repeat(auto, minmax(75px, 1fr));
    grid-template-columns: repeat(2, 1fr);
}

.project-card {
    grid-template-rows: 2fr 1fr;
    /* left-side corners hidden beneath subsequent code */
    border-radius: 10px; 
}

.project-card:hover,
.card-content a h3:hover,
#announcements-card:hover,
#trending-card:hover,
.announcement-content h4:hover,
.trending-content p:first-child:hover {
    transform: scale(1.01);
}

.project-card::before {
    /* create pseudo-inset left border over card*/
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: var(--soft-fawn);
    border-radius: 10px 0 0 10px; 
}

h3 {
    font-size: 1.2em;
}

p {
    color: var(--charcoal-brown);
    font-size: 0.8;
}

.card-content {
    position:relative;    
    padding: 40px 40px 10px 40px;
}

.card-content::after,
.card-content::before {
    width: 88%;
    background: linear-gradient(to right, var(--soft-fawn), var(--cool-steel));
    bottom: -1%;
    left: 6%;
}

.card-content::before {
  top: 10%;
}

.card-content h3 {
    padding-bottom: 20px;
}

.card-content p {
    text-wrap: stable;
}

.card-buttons,
.announcement-content,
.trending-content {
    align-items: end;
}

.card-buttons {
    padding: 0 30px 30px 0;
}

#project-1 .card-buttons a:first-child:hover,
#project-4 .card-buttons a:first-child:hover,
#project-6 .card-buttons a:first-child:hover {
    content: url(images/star-minus.svg);
    padding-bottom: 4px;
    width:26px;
    height:26px;   
}



#announcements {
    grid-area: announcements;
    align-self: start;
    padding: 20px 30px 60px 15px;
}

#trending {
    grid-area: trending;
    align-self: end;
    padding: 20px 30px 80px 15px;
}

#announcements-card,
#trending-card {
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    text-wrap: balance;
    border-radius: 10px;
}

.announcement-content,
.trending-content {
    justify-content: center;
}

.announcement-content h4,
.trending-content h4 {
    font-size: 0.9em;
}

.trending-content {
    justify-content: left;
    align-items: center;
    gap: 16px
}

.announcement-content p,
.trending-text p {
    padding-top: 5px;
    font-size: 0.8em;
    /* now can truncate the text to only 3 lines */
    display: -webkit-box;       
    -webkit-line-clamp: 4;      
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.trending-icon img {
    transform: translateY(4px);
}

.trending-text p:nth-child(1) {
    font-weight: bolder;
}

.trending-text p:nth-child(2) {
    opacity: 0.8;
}

hr {
    border-style: inset;
    border: 0.5px solid var(--charcoal-brown);
}